<h1>Palindrome</h1>

<div>
  <h2>Please enter palindrome</h2>

  <form name="form" [ngClass]="{ 'has-error': f.submitted && !f.form.valid }" (ngSubmit)="f.form.valid && addPalindrome()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !palindromeText.valid }">
      <label for="palindromeText">palindromeText</label>
      <input type="text" class="form-control" name="palindromeText" [(ngModel)]="model.PalindromeText" #palindromeText="ngModel" required />
      <div *ngIf="f.submitted && !palindromeText.valid" class="help-block">palindromeText is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>



<h2>All palindromes</h2>
<table class='table' *ngIf="palindromes">
  <thead>
    <tr>
      <th>PalindromeText</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let palindrome of palindromes">
      <td><div [innerHtml]="palindrome.palindromeText"></div></td>
    </tr>
  </tbody>
</table>
